

@media (max-width:1400px) {
    .main {
        &__banner{
            &_about-container{
                gap: 20px;
            }
        }
    }
}

@media (max-width:1320px) {
    .main {
        &__banner{
            &_text {
                font-size: 36px;
                line-height: 45px;
                letter-spacing: 0.04em;
            }

            &_sub-text {
                font-size: 16px;
            }

        }
    }
}

@media (max-width:1200px) {
    .main {
        &__banner{
            &_container {
                max-width: 500px;
            }

            &_about-container{
                gap: 20px;
            }
        }
    }
}

@media (max-width:992px) {
    .main {
        &__banner {
            padding: 325px 0 0;
            
            &_text-container {
                margin: 0 0 100px 0;
            }
            
            &_text {
                width: 400px;
            }
            
            &_sub-text {
                width: 300px;
            }
            
            &_about-container {
                position: absolute;
                bottom: -450px;
                left: 0;
                right: 0;
                width: 90vw;
            }
            
            &_about {
                width: 100%;
            }
            
            &_photo-container {
                zoom: 0.8;
                bottom: -250px;
                right: 0px;
            }
            
            &_adaptive-space {
                display: block;
                position: relative;
                left: 0;
                right: 0;
                height: 400px;
                width: 100vw;
                background-image: url(../../assets/img/main-banner-my-bg.png);
                background-size: 100% 110%;
                background-repeat: no-repeat;
            }
        }
    }

    .popular {
        margin: 0;

        &__nav-title {
            font-size: 24px;
            line-height: 32px;

            &_icon {
              font-size: 16px;
            }
        }
        &__images{
            &_grid-container{
                zoom: 0.7;
            }
        }
    }

    .creative {

        &__wrapper{
            padding: 50px 0 120px;
            margin-bottom: 0;
        }

        &__subtitle {
            font-size: 36px;
        }

        &__container{
            zoom: 0.8;
        }

        &__we-can{
            padding: 90px 20px 30px;
            &_image{
                width: 100%;
            }
            
            &_image-photo{
                min-height: 532px;
                width: 100%;
                object-fit: cover;
            }

        }
    }
    .idea{

        background-size: 240% 95%;
        background-position-x: -300px;
        background-repeat: no-repeat;

        &__lamp{
            right: -100px;
           width: 320px;
        }

        &__rocket-1{
            top: 40%;
            width: 90px;
        }

        &__rocket-2{
            top: auto;
            left: 50px;;
            bottom: -110px;
            right: auto;
            width: 100px;
        }

        &__text{
            &_title{
                font-size: 24px;
            }
            &_text{
                width: 90% ;
            }
        }

        &__form{
            &_container{
                flex-direction: row;
                justify-content: space-between;
            }



            &_title{
                padding: 20px;
            }
        }
    }

    .partners{
        &__slider{
            &_img-container{
                min-width: 50%;
            }

            &_title{
                font-size: 28px;
            }
        }
    }

    .footer{
        &__wrapper{
            flex-wrap: wrap;
        }

        &__form{
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__title-and-contacts{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__sub-text{
            padding:50px 0 15px;

            & span{
                font-size: 14px;
            }
        }
    }
}

@media (max-width:768px) {
    .main {
        &__banner {
            padding: 200px 0 0;
        }
    }
    .creative{
        &__subtitle {
            font-size: 24px;
        }

        &__container{
            zoom: 0.7;
        }

        &__we-can{
            &_content-title{
                font-size: 24px;
                max-width: 100%;
            }

            &_slider{
                flex-direction: column;
                width: 100%;
            }

            &_slider-wrapper{
                max-width: 100%;
            }

            &_slider-link-cnt{
                min-width: 25%;
            }
        }
    }
}


@media (max-width:720px) {
    .main {
        &__banner {
            overflow-x: hidden;
            &_photo-container{
                left: 50%;
                zoom: 0.7;
                bottom: -300px;
                & img{
                    transform: rotatey(180deg);
                    // width: 400px;
					height: auto;
                }
            }
        }
    }
    .popular{
        &__images{
            &_grid-container{
                grid-template-columns: repeat(2,auto);
                grid-template-rows: repeat(4,300px);
            }
            
            &_1 {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
            }
            &_2 {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 3;
            }

            &_3 {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 4;
                grid-row-end: 4;
            }

            &_4 {
                grid-column-start: 2;
                grid-column-end: 2  ;
                grid-row-start: 4;
                grid-row-end: 4;
            }
        }

        &__nav{
            &_text-container{
                width: 100%;
            }

            &_link{
                position: absolute;
                bottom: 20px;
                right: 32px;
            }
        }
    }
    .creative{
        
        &__wrapper{
            padding-bottom: 0;
            background-size: 170% 55%;
            background-position-y: bottom;
        }

        &__container{
            zoom: 1;
            overflow-x: visible;
        }
        &__subtitle{
            width: 100%;
        }
        &__text{
            width: 100%;
        }
        &__buttons{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 0 100px;
        }
        &__image{
            position: relative;
            left: 50%;
            transform: translateX(-50%); 
            width: 90%;   
            min-width: 372px;    
        }
    }

    .idea{
        padding: 450px 0 100px;
        position: relative;
        overflow-x: clip;

        background-position-x: center;
        background-size: 230% 80%;
        background-position-y: top;	

        &__wrapper{
            position: static;
        }

        &__lamp{
            width: 280px;
            left: 50%;
            right: auto;
            transform: translate(-50%,0);
        }
        &__rocket-1{
            top: 250px;
            transform: translate(120%,0);
        }

        &__rocket-2{
            top: 250px;
            left: 50%;
            transform: translate(-210%,0);
        }

        &__text{
            &_container{
                width: auto;
            }

            &_text{
                margin-bottom: 50px;
            }
        }

        &__form{
            &_container{
                display: flex;
                flex-direction: column;
            }

            &_title{
                width: auto;
                padding: 0;
            }
            &_form{
                max-width: 350px;
            }
            &_input{
                width: 90%;
            }
        }
    }

    .partners{
        padding: 0;

        &__slider{
            &_slider{
                margin: 0;
            }
            &_img{
                width: 110px;
            }
        }
    }
}

@media (max-width:670px) {
    .creative{
        &__we-can{
    
            &_slider-link-cnt{
                // min-width: 25%;
            }

            &_slider-link-cnt img{
                width: 100%;
                min-width: 80px;
            }
        }
    }
    .footer{

        &__title-and-contacts{
            flex-direction: column;
        }

        &__title{
            &_container{
            }
        }

        &__contacts{
            width: 100%;
            display: flex;
            justify-content: space-between;
            
            &_social-container{ 
            padding-right: 20px;
                & i{
                    font-size: 34px;
                }
            }
        }       
    }

}

@media (max-width:576px) {
    .main {
        &__banner {
            padding: 100px 0 0;
        

        &_text-container {
            margin: 0 0 250px 0;
        }

        &_text {
            width: 95%;
        }   

        &_about-container {
            flex-direction: column;
            top: 280px;
        }  

        &_about {
            width: 120px;
            height: 100px;
            gap: 0;
            &:not(:last-child){
                margin-bottom: 20px;
            }
        }

        &_photo-container {
            zoom: 0.6;
            bottom: -550px;
            // right: -300px;
            left: 40%;
        }

        &_adaptive-space {
            height: 300px;
        }
    }
}
    
    .popular {
        &__nav-title {
            &_icon {
                line-height: 28px;
            }
        }

        &__nav_link{
            font-size: 14px;
        }
        
    }
    .creative{
        &__wrapper{
            padding-bottom: 0;
            background-size: 170% 45%;
            background-position-y: bottom;
        }
        &__title{
            width: fit-content;
            margin: 0 auto 20px;
            &_span{
                font-size: 48px;
            }
        }

        &__we-can{
            &_image-up{
                width: 180px;
            }
        }
    }
}

@media (max-width:470px) {
    .main{
        &__banner{
            &_text{
                font-size: 24px;
            }
        }
    }
    .popular{
        &__images{
            &_grid-container{
                grid-template-columns: repeat(2,auto);
                grid-template-rows: repeat(4,200px);
            }
        }
    }

    .partners{
        &__slider{
            &_title{
                font-size: 24px;
            }
        }
    }

    .footer{

        &__title{
            font-size: 28px;
            letter-spacing: 5px;

            &_subtitle{
                font-size: 16px;
            }
        }

        &__contacts{
            flex-direction: column;
            align-items: center;
        }

        &__menu{
            gap: 20px;
        }

        &__form{
            &_subtitle{
                width: auto;
            }
        }
    }
}

@media (max-width:420px) {
    .creative{
        &__wrapper{
            padding-bottom: 0;
            background-size: 170% 30%;
            background-position-y: bottom;
        }
    }

    .idea{
        &__text{

            &_text,&_title{
                text-align: center;
            }
        }
    }

    // .partners{
    //     &__slider{
    //         &_wrapper{
    //             flex-direction: column;
    //         }
    //     }
    // }

    .footer{
        &__form{
            width: 100%;
            &_input-container{
                display: flex;
            }

            &_input-submit{
                top: 50%;
                transform: translateY(-50%)
            }
        }
    }

}