* {
    font-family: 'Gilroy SemiBold';
}

.wrapper {
    max-width: 1664px;
    padding: 0 32px;
    margin: 0 auto;
    box-sizing: border-box;

    @media (max-width:992px) {
        padding: 0 20px;
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @media (max-width:768px) {
        position: fixed;
        z-index: 30;
        background:  rgba(253, 250, 252, 0.44);
        backdrop-filter: blur(5px);
    }

    &__slider {
        display: none;
        position: relative;
        background-color: #272525;
        width: 24px;
        height: 3px;
        border-radius: 2px;

        @media (max-width:768px) {
            display: block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            background-color: #272525;
            width: 24px;
            height: 3px;
            border-radius: 2px;
        }

        &::before {
            top: -6px;
        }

        &::after {
            top: 6px
        }
    }

    &__nav {
        &_cart{
            width: 40px;
            i{
                // font-size: 32px;
            }
        }

        &_bar-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 40px calc(1.5% + 32px);
            gap: 2%;
            height: 132px;

            @media (max-width:992px) {
                padding: 20px calc(1.5% + 32px);
                width: 100%;
            }

            @media (max-width:888px) {
                height: auto;
            }

            @media (max-width:576px) {
                padding: 20px;
            }

        }

        &_cart{
            font-size: 36px;
            position: relative;
            cursor: pointer;
            &:hover{
                color: rgb(38, 51, 109);
            }

            @media (max-width:992px) {
                font-size: 28px;
            }

            @media (max-width:576px) {
                font-size: 26px;
                margin-right: 20px;
            }

            &_circle{
                position: absolute;
                bottom: -10px;
                right: -10px;
                background-color: #1FAB8A;
                color: rgb(255, 255, 255);
                border-radius: 50%;
                text-align: center;
                font-size: 20px;
                width: 25px;
                height: 25px;
            }
        }

        &_title {
            font-family: 'Gilroy Bold';
            font-size: 40px;
            letter-spacing: 10px;
            color: #272525;

            @media (max-width:1200px) {
                letter-spacing: 5px;
            }

            @media (max-width:1024px) {
                letter-spacing: 1px;

            }
            @media (max-width:940px) {
                width: 90%;
            }
            
            @media (max-width:768px) {
                font-size: 28px;
            }

            @media (max-width:576px) {
                font-size: 22px;
            }
        }

        &_search {

            font-size: 20px;
            width: 100%;
            padding: 8px 3%;
            border: 2px solid #272525;
            border-radius: 90px;

            @media (max-width:992px) {
                display: none;
            }

            &-cnt{
                width: 40%;
                position: relative;
            }
        }
        
        &_search-adaptive {
            font-size: 0;
            
            @media (max-width:992px) {
                font-size: 28px;
            }

            @media (max-width:576px) {
                font-size: 26px;
                margin-right: 20px;
            }
        }

        &_ui-container {
            @media (max-width:768px) {
                position: absolute;
                z-index: 16;
                left: 50%;
                transform: translateX(-75%);

                &.active{
                    position: fixed;
                }
            }
        }

        &_tel {
            white-space: pre;

            &:active {
                background-color: #267c68;
            }

            @media (max-width:576px) {
                display: none;
            }
        }

        &_btn {
            border: none;
            background: none;

            @media (max-width:768px) {
                position: absolute;
                z-index: 16;
                left: 50%;
                transform: translateX(50%);
                & img{
                    width: 24px;
                }
            }
        }

        &_language {
            font-size: 24px;
            border: none;
            background: none;
            color: rgb(139, 139, 139);
        }

        &_language .active {
            color: black;
        }
    }
    &__search{
        &_container{
            box-sizing: border-box;
            position: absolute;
            top: 50px;
            padding: 10px;
            width: 100%;
            max-height: 510px;
            border: 2px solid rgb(197, 186, 202);
            border-radius: 25px;
            background-color: rgb(251, 243, 255);
            z-index: 10;

            &-scroll{
                max-height: 450px;
                overflow-y: scroll;
                border-radius: 25px;
                padding-left: 10px;

                &::-webkit-scrollbar {
                    width: 10px;
                }
    
                &::-webkit-scrollbar-track {
                    // -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
                    background-color: #f9f9fd00;
                    border-radius: 10px;
                }
    
                &::-webkit-scrollbar-thumb {
                    
                    border-radius: 10px;
                    background: linear-gradient(180deg, #2a6d805e, #9176f57a);
                }
            }
        }

        &_link{
            font-size: 20px;
            &-cnt{
                text-align: center;
                padding: 10px;
            }
        }

        
    }

    &__menu {
        background: rgba(255, 255, 255, 0.44);
        
        @media (max-width: 768px) {
            position: absolute;
            z-index: 15;
            padding: 75px 0 25px;
        }
    }

    &__menu-container {
        position: relative;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;


        @media (max-width: 768px) {
            width: auto;
            height: auto;
            margin: 0 0 0 auto;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    &__list-container {
        width: 823px;

        @media (max-width: 768px) {
            width: 200px;
        }
    }

    &__list {
        display: flex;
        align-items: baseline;
        gap: 5px;
        
        @media (max-width: 888px) {
            justify-content: center;
        }
        
        @media (max-width: 768px) {
            margin: 0 0 50px;
            flex-direction: column;
            align-items: end;
        }
    }

    &__item {
        position: relative;
        z-index: 2;
        padding: 40px 0;
        text-align: center;
        color: #272525;
        border-radius: 6px;
        transition: all .2s;

            &:hover,
            &.active {
                background-color: #272525;
                color: white;

                &::after {
                    content: ' ';
                    position: absolute;
                    top: 110px;
                    left: 0;
                    width: 100%;
                    height: 8px;
                    background-color: #272525;
                    border-radius: 6px;
                }
                &::before {
                    content: ' ';
                    position: absolute;
                    top: 100px;
                    left: 0;
                    width: 100%;
                    height: 30px;
                    background-color: none;

                }
        }

        &_menu-ul{
            padding: 10px  0;
        }

        @media (max-width: 768px) {
            width: 160px;
            text-align: end;
            padding: 40px 10%;
        }

        &-span {
            white-space: pre;
            font-size: 18px;
            font-weight: 600;
            text-decoration: none;
            color: #272525;
            padding: 40px 20px;

            &:hover,
            &.active {
                display: inline;
                color: white;
            }
        }

        &_menu {
            display: none;
            position: absolute;
            z-index: 5;
            top: 125px;
            left: 0;
            right: 0;
            text-align: center;
            background-color: #272525;
            color: white;
            border-radius: 6px;
            padding: 20px 0;

            &-item {
                height: 50px;
                display: flex;
                justify-content: start;
                align-items: center;
                text-align: start;
                position: relative;

                &:hover {
                    background-color: #fff; 
                    & .header__item_menu-list-a{
                        color: #3C336C;
                    }
                }
            }

            &-list {
                font-size: 18px;
                font-weight: 600;
                text-decoration: none;
                color: #fff;
                padding: 0 20px;
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;

                &:hover {
                    color:  #3C336C;
                }
                &.active {
                    color:  #3C336C;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                }

                @media (max-width: 768px) {
                    font-size: 16px;                    
                }
            }

            &-sub {
                background-color: #ffffff00;
                position: absolute;
                z-index: 5;
                left: 135px;
                top: -20px;
                width: max-content;

                &.active {
                    display: flex;
                    @media (max-width: 768px) {
                        display: none;
                    }
                }
            }

            &-ul {
                background-color: #272525;
                border-radius: 6px;
            }

            &-alfa {
                width: 20px;
                height: 100%;
            }
        }
    }

    &__promo-container {
        display: flex;
        align-items: center;
        justify-content: start;
        height: 100px;
        max-width: 50%;
        padding: 0 10px;

        @media (max-width: 1200px) {
            position: absolute;
            right: 0;
            width: 210px;
        }

        @media (max-width: 888px) {
            display: none;
        }
    }

    &__promo {
        z-index: 2;
        font-family: 'Roboto';
        font-weight: 800;
        font-size: 32px;
        color: #3C336C;
        text-decoration: none;
    }

    &__shopper {
        position: absolute;
        right: 0px;
        top: 132px;
        height: 100px;
        opacity: 0.4;

        @media (max-width: 888px) {
            display: none;
        }
    }

    &__adaptive_contacts{
        display: none;
    }


}


@import '_burger'