.partners {
	padding: 60px 0 60px;

	&__slider {

		&_title {
			color: #222227;
			font-size: 48px;
			font-family: 'Gilroy Bold';
			font-weight: 700;
			margin: 0 0 80px;
		}

		&_wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&_overflow{
			overflow-x: hidden;
		}

		&_slider {
			position: relative;
			width: 100%;
			display: flex;
			justify-content: space-between;
			transition: all 1s;
		}

		&_img-container {
			display: flex;
			min-width: 20%;
			align-items: center;
			justify-content: center;
		}

		&_img {
			object-fit: cover;
		}
	}
}

@media (max-width: 1540px) {
	.partners {
	  &__slider {
		&_img-container {
		  min-width: 25%;
		}
	  }
	}
  }
  
  @media (max-width: 1200px) {
	.partners {
	  &__slider {
		&_title {
		  font-size: 38px;
		}
	  }
	}
  }
  
  @media (max-width: 992px) {
	.partners {
	  &__slider {
		&_img-container {
		  min-width: 50%;
		}
  
		&_title {
		  font-size: 28px;
		}
	  }
	}
  }
  
  @media (max-width: 720px) {
	.partners {
	  padding: 0;
  
	  &__slider {
		&_slider {
		  margin: 0;
		}
  
		&_img {
		  width: 110px;
		}
	  }
	}
  }
  
  @media (max-width: 470px) {
	.partners {
	  &__slider {
		&_title {
		  font-size: 24px;
		}
	  }
	}
  }
  
  @media (max-width: 420px) {
	// .partners{
	//     &__slider{
	//         &_wrapper{
	//             flex-direction: column;
	//         }
	//     }
	// }
	}	