.card_blur{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 50;
    backdrop-filter: blur(5px);
}

.card_cnt{
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    display: flex;
    max-width: 1300px;
    padding: 28px;
    // height: 70vh;
    // overflow: hidden;    
    background: #FAFAFA;
    border-radius: 25px;
    border: 2px solid #27252538;
    box-shadow: 0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.548), 0px 16.05656px 20.0707px -4.01414px rgba(26, 32, 44, 0.548);

    @media (max-width:1440px) {
        margin-right: 30px;
    }
    @media (max-width:992px) {
        justify-content: space-between;
    }
    @media (max-width:730px) {
        flex-direction: column;
    }
    @media (max-width:620px) {
        zoom: 0.7;
    }
    @media (max-width:400px) {
        zoom: 0.6;
    }
    @media (max-width:300px) {
        zoom: 0.5;
        max-width: 450px;
    }
}

.closed_window{
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 10px;
    padding: 5px 10px;
    min-width: min-content;
    height: min-content;
    background:none;
    border: 4px solid #272525;
    border-radius: 50%;
    cursor: pointer;

    &:hover{
        border-color: #524983;
        i{
            color: #524983;
        }
    }
    &:active{
        border-color: #441b1bfa;
        i{
            color: #441b1bfa;
        }
    }



    i{
        color: #272525;
        font-size: 36px;
    }
}

.itemAdd{
    &_cnt{
        position: absolute;
        bottom: 28px;
        right: 28px;
        padding: 16px 24px;
        font-size: 24px;
        text-align: center;
        background-color: #1FAB8A;
        border-radius: 25px;
        transform: translateY(200%);
        animation-name: itemAddAnimation;
        animation-duration: .3s;
        animation-fill-mode: forwards;

        @media (max-width:1100px) {
            right: auto;
            left:15px;
        }

        &:hover{
            background-color: #1b9679;
        }
    }
    
    &_link{
        color: white;
        &:hover{
            color: white !important;
        }
    }
}

@keyframes itemAddAnimation {
    from{
        transform: translateY(200%);
    }
    to{
        transform: translateY(0%);
    }
}


.swiper{
    &_cnt{
        width: 100%;
        height: 70%;

        @media (max-width:992px) {
            min-width: 330px;
        }
        @media (max-width:730px) {
            width: 100%
        }
    }
    
    &_slide{
        width: 100%;
        border-radius: 15px;
        box-shadow: 0px 4.02828px 4.02828px -4.01414px rgba(26, 32, 44, 0.04), 0px 5px 6px -4.01414px rgba(26, 32, 44, 0.10);

        @media (max-width:992px) {
            width: 95%;

            @media (max-width:730px) {
                max-width: 600px;
                width: 100%;
                height: 300px;
            }
        }

        
        &_img{
            border-radius: 15px;
            width: 100%;

        }
    }

}
.swiper_slide :global(.swiper){
    border-radius: 25px;
}

:global(.mySwiper){
    @media (max-width:730px) {
        margin-bottom: 20px;
    
        & :global(.swiper-slide-visible) {
            max-width: 75px;
            width: 100%;
        }

        img {
            width: 75px;
        }

        .swiper_slide {
            width: 75px;
            height: 75px;
        }
    }
}

.swiper_slide_bar :global(.swiper){
    margin-top: 20px;
}

.left{

    &_cnt{
        width: 40%;
        margin-right: 50px;

        @media (max-width:730px) {
            width: 100%
        }
    }
}


.right{


    &_cnt{
        @media (max-width:992px) {
            width: 50%;
        }
        @media (max-width:730px) {
            width: 100%;
            display: grid;
            grid-template-areas: 
            'title title'
            'color-cnt price'
            'text-cnt size-cnt'
            'params params';
            // grid-template-rows: 1fr 1fr 1fr 1fr;
        }
    }

    &_title{
        font-size: 36px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        width: 80%;
        
        &_cnt{
            grid-area: title;
            margin-bottom: 20px;
        }

        @media (max-width:992px) {
           font-size: 24px;
        }

        @media (max-width:730px) {
            font-size: 18px;
        }
    }

    &_color{

        border: 2px solid rgb(0, 0, 0) !important;
        width: 30px !important;
        height: 30px !important;
        margin-left: 20px;

        &_cnt{
            grid-area: color-cnt ;
            margin-bottom: 20px;
        }

        &:global(.active){
            display: inline;
            transform: scale(1.5);
            transition: transform .3s ;
        }
    }

    &_price{
        color:  #272525;
        font-size: 24px;
        font-weight: 600;
        line-height: 105.5%;
        
        &_cnt{
            grid-area: price;
            margin-bottom: 20px;
        }
    }

    &_text{
        font-weight: 400;

        @media (max-width:730px) {
            font-size: 14px;
        }
        
        &_cnt{
            grid-area: text-cnt;
            margin-bottom: 40px;

            @media (max-width:730px) {
                margin-right: 30px;
            }
        }
    }

    &_low{
        display: flex;
        justify-content: space-between;

        @media (max-width:1220px) {
            flex-direction: column-reverse;
        }
        @media (max-width:730px) {
            display: grid;
        }
    }

    &_size{
        
        @media (max-width:1220px) {
            margin-bottom: 20px;
        }
        
        &_cnt{
            grid-area: size-cnt;            
            display: grid;
            align-content: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: min-content;
            margin-bottom: 30px;

            @media (max-width:1100px) {
                grid-template-columns: 1fr;
            }

        }
        
        &_flex{
            display: flex;
            flex-direction: column;
            
        }

        &_span{
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 20px;
            @media (max-width:730px) {
                font-size: 16px;
            }
        }

        &_text{
            color: #27252594;
            font-family: 'Gilroy Medium';
            font-size: 22px;
            line-height: 105.5%; /* 16.88px */
            padding: 10px;
            margin-right: 20px;
            cursor: pointer;

            @media (max-width:730px) {
                font-size: 18px;
                margin-right: 5px;
            }

            &:first-child{
                padding-left:0px;
            }

            &:global(.active){
                display: inline;
                color: #272525;
                font-family: 'Gilroy Regular';
                font-size: 22px;
                font-weight: 600;
                line-height: 105.5%; /* 16.88px */
                margin-right: 20px;

                @media (max-width:730px) {
                    margin-right: 5px;
                }
            }
        }
    }
    
    &_btnBuy{
        padding: 16px 84px;
        border-radius: 60px;
        background: #524983;
        border: none;
        text-wrap: nowrap;

        &_cnt{
            justify-self: center;
            align-self: center;

            @media (max-width:1100px) {
                justify-self: start;
            }
        }

        &:hover{
            background: #5f5597;
        }
        &:active{
            background: #413b68;
            transform: scale(0.95);
        }

        &_cnt{
        }

        & span{
            color: white;
            font-size: 20px;
        }
    }

    &_params{

        &_cnt{
            grid-area: params;

            @media (max-width:1220px) {
                width: 100%;
                margin-bottom: 30px;
            }
        }

        &_text{
            font-weight: 500;
            width: 50%;

            &_cnt{
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                border-bottom: 2px solid #272525;
            }
        }
    }
}

