*{
	font-family: 'Gilroy Regular';
}

@import 'reset';
@import 'fonts';
@import './components/base';
@import './components/header';

@import './components/main';
@import './components/popular';
@import './components/creative';
@import './components/idea';
@import './components/partners';
@import './components/footer';

.active {
    display: block;
}

.disabled{
	pointer-events: none;
	background-color: #5d5d5d8e;
}

@import './components/catalog'


